PORT=3000
MONGO_USERNAME="dbAdmin"
MONGO_PASSWORD="0DdqHA8fgk58kU7W!"
MONGO_CLUSTER="database.7719h.mongodb.net"
MONGO_DATABASE="development"
MONGO_API_USERNAME="dbAdmin"
MONGO_API_PASSWORD="0DdqHA8fgk58kU7W!"
MONGO_API_CLUSTER="database.t9ktf.mongodb.net"
MONGO_API_DATABASE="development"
MODE="development"
TOKEN_SECRET="regality beet lava kilter brail ecstatic uncial hunker tourist triploid string whodunit"
CORS_ADDRESS="http://{{hostvars[inventory_hostname].groups.front[0]}}:19006"
